<h2>Dashboard Supermercado</h2>
<p>Encomendas pendentes: <%= pendingOrders %></p>
<p>Total encomendas: <%= totalOrders %></p>
<a href="/supermarket/orders">Gerir encomendas</a> | <a href="/supermarket/products">Produtos</a> | <a href="/supermarket/pos">POS</a>
